.box5
    width 100px
    height 100px
    background-color yellow
    background-image url(../images/pika.jpg)
    background-size cover
.box6
    width 100px
    height 100px
    background-color red
    background-image url(../images/game.jpg)
    background-size cover